<div class="jumbotron">
  <h1> #2</h1>
  <p>It must be able to pass data between route controllers. Like for example have an input filed in one route where its contents will be displayed in the next route. Please do not use $rootScope.</p>
 <div class="alert alert-success" role="alert">We pass the value between controllers by means of a Service ('passNameService').</br>Following is your name (the one you entered in the previous page)</div>
 <h1 class="animated rubberBand">{{::name}}</h1>
 <div class="separator100"></div>
  <span><a class="btn btn-primary btn-lg" href="#page3" role="button">Go to next route</a></span>
</div>