<div class="jumbotron">
  <h1> #5</h1>
  <p>Has a directive that is dependent of ngModel, restricts the input to numbers only for key press and auto formats the number inside that input as a phone number like (541) 754-3010</p>

 <div class="alert alert-success" role="alert">Hey, <h2 class="animated tada">{{::name}}</h2> Input your phone number: </div>
 
<form><input class="form-control" type="text" phone-input ng-model="myPhone"/></form>

 <div class="separator100"></div>
  <span><a class="btn btn-primary btn-lg" href="#page6" role="button">Go to next route</a></span>
</div>
